.component {
    display: flex;
    flex-flow: row;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
}

.dragIcon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: calc(50% - 24px/2);    
}

.ingredientFix {
    flex: 2;
    display: flex;
    flex-flow: column;
    align-items: stretch;
}
.ingredientFix span:first-of-type {
    flex: 2;
}


.dragHoverEffectTop {
    background: linear-gradient(rgba(67, 115, 247, 0.3),rgba(67, 115, 247, 0.0));
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

.dragHoverEffectBottom {
    background: linear-gradient(rgba(67, 115, 247, 0.0),rgba(67, 115, 247, 0.3));
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}