.navPanel {

    background: #1c1c21;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.navPanelContent {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 1280px;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.navLeft {
    justify-content: flex-start;
    display: flex;
    flex-flow: row;
    margin: 0;  
    padding: 0;
    flex: 1;
}

.navRight {
    justify-content: flex-end;
    display: flex;
    flex-flow: row;
    margin: 0;  
    padding: 0;
    flex: 1;
}